html,
body,
div,
span,
h1,
h2,
h3,
h4,
a,
ol,
ul,
li,
form,
label,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
input,
section {
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  position: relative;
  width: 100%;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

#app-component {
  min-height: 95vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
}

.icon {
  width: 50px;
}
